.continar{
	width: 1200px;
	min-height: 500px;
	margin: 48px auto 50px;
	overflow: hidden;
}
#details{
	border-radius: 5px;
	background: #fff;
	padding: 15px;
	border: 1px solid #e6e6e6;
	overflow: hidden;
	float: none;
	margin: 0 auto;
	width: 1000px;
}
.head_user_b{
	width: 100%;
	margin: 0 auto;
	background: url(../images/avatar1.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.head_user{
	overflow: hidden;
	position: relative;
	width: 100%;
	margin: 0px auto 6px;
	border-bottom: 5px solid #fff;
	box-shadow: 0px 1px 4px rgba(0,0,0,.46);
}
.head_user_a{
	height: 365px;
}
.head_avatar{
	text-align: center;
	padding-top: 20px;
	margin-bottom: 15px;
}
m.head_user_avatar_aa{
	position: relative;
}
.head_avatar img{
	width: 130px;
	height: 130px;
	border-radius: 100%;
	border: 3px solid rgba(255,255,255,.53);
}
.head_avatar_a{
	text-align: center;
	font-size: 25px;
	font-weight: 400;
	line-height: 30px;
	color: #FFF;
	position: relative;
}
.head_user_a p{
	text-align: center;
	font-size: 25px;
	font-weight: 400;
	line-height: 30px;
	color: #fff;
}
.icon_male, .icon_female{
	width:20px;
	height: 18px;
	vertical-align: -2px;
	margin: 0 5px;
	background-image: url(../images/0Al5wQUv5IAuo87evbERy190Y83ENmP9OpIs8Stm2lMUAAAAFAAAAFBO.png);
}
.img-icon{
	display: inline-block;
}
.icon-male{
	background-position: -100px -50px;
}
i{
	font-style: normal;
    font-weight: 400;
}
.lv{
	display: inline-block;
	background: url(../images/92612dce.xuetang.png) no-repeat;
	width: 88px;
	height: 17px;
	background-size: cover;
}
.container-left p a{
	font-size: 12px;
}
.head_avatar_a .vip_aa img{
	vertical-align: inherit;
}
.head_avatar_b{
	text-align: center;
	font-size: 12px;
	color: #fff;
	line-height: 16px;
	
}
.head_avatar_c{
	text-align: center;
	margin: 25px;
}
span.follow-btn.unfollowed{
	border:1px solid #f77268;
	background:#fa7d3c;
}
.head_avatar_c span{
	padding: 7px 12px;
	margin: 15px;
	border-radius: 2px;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
}
span.follow-btn.unfollowed i{
	color: #FFF;
}
.fa{
	display: inline-block;
	font: normal normal normal 14px/1 "微软雅黑";
	font-size: inherit;
	text-rendering: auto;
	
}
.head_user_data{
	position: absolute;
	left: 0;
	z-index: 99;
	background: #fff;
    margin-top: -29px;
    padding: 5px 10px;
    border-radius: 0 10px 0px 0px;
}
.head_user_data span{
	margin-right: 20px;
}
.h4{
	font-size: 14px;
	font-weight: normal;
	padding: 3px 0 3px 15px;
	border-left: 4px solid #005f6d;
	border-bottom: 1px solid #005F6D;
	color: #444;
	width: calc(100%+30px);
	margin: 15px 0px 15px -15px;
}
.clearfix{
	clear: both;
	
}
.continar-left ul.clearfix li{
	line-height: 36px;
	font-size: 14px;
	padding: 0 20px;
	margin-bottom: 10px;
}
.continar-left ul.clearfix li span:nth-child(1){
	width: 50%;
	float: left;
}
.zw_li{
	margin-top: 55px;
	clear: both;
}
.continar-left ul li.index{
	text-indent: 2em;
	clear: both;
}
.continar-left .px{
	
	text-indent: 2em;
	line-height: 36px;
	font-size: 14px;
	padding: 14px;
	padding: 0 20px;
	margin-bottom: 10px;
	color: #666;
	
}
.continar-left .px a{
	font-size: 14px;
}




























